body {
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}


.today {
    color: blue;
}

.calendar-grid {
    width: 800px;
    overflow: hidden;
}
.day {
    border-right: 1px solid #B2CDD8;
    position: relative;
    /*width: 90px;*/
    height: 100%;
    float: left;
    width: 45px;
}


#sidebar {
    background-color: #f3f7fa;
    width: 258px;
    border-right: 1px #B2CDD8 solid;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    top: 169px;
    z-index: 100;
}
