// ---------------------------------------------------------------------------
// Main header
// ---------------------------------------------------------------------------
header[role="banner"] {
    background: #222222;
    // background: rgba(24,30,35,0.95);
    @include gridle(12);
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    color: #999999;
    h1 {
        float: left;
    }
    nav {
        // display: inline-block;
        margin-left: 200px;
        ul {
            li {
                float: left;
                margin: 0;
                margin-right: -1px;
                // border-right: 1px solid #717b85;
                // border-left: 1px solid #717b85;
                a {
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    padding: 0px 12px;
                    color: #d1d2d3;
                    font-size: 13px;
                    &.active,
                    &:hover {
                        text-decoration: none;
                        // color: #ff0000;
                        color: #fff;
                        background: #2b2b2b;
                    }
                }
            }
        }
    }
}

// ---------------------------------------------------------------------------
// Main section of the page
// ---------------------------------------------------------------------------
section[role="main"] {
    nav {
        @include gridle(12);
        background: #2b2b2b;
        color: #cccccc;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    aside {
        @include gridle(2);
        @include gridle_no_gutter();
        background: #2b2b2b;
        padding-top: 60px;
        height: 100%;
        color: #d1d2d3;
        .users {
            .user {
                // padding: 25px;
                height: 80px;
                border-bottom: 1px solid #717b85;
                &:nth-child(2n+1) {
                    background: #222222;
                }
                .user-data {
                    padding: 0 25px;
                    line-height: 80px;
                    font-size: 13px;
                    img {
                        vertical-align: middle;
                        margin-right: 10px;
                        @include border-radius(26px);
                        // border: solid 1px #717b85;
                    }
                }
            }
        }
    }
    .calendar-viewport {
        overflow: auto;
        @include gridle(10);
        @include gridle_no_gutter();
        .calendar-grid {
            height: 708px;
            .months {
                float: left;
            }
            .day {
                cursor: pointer;
                position: relative;
                float: left;
                width: 30px;
                height: 29px;
                line-height: 30px;
                text-align: center;
                background: #ffffff;
                border-right: 1px solid #ccc;
                font-size: 12px;
                // &:nth-child(2n+1) {
                //     background: #f7f7f7;
                // }
                border-bottom: 1px solid #ccc;
                &:hover {
                    background: #f7f7f7;
                }
                &.active {
                    height: 27px;
                    border-bottom: solid 3px #ff0000;
                }
                &.weekend {
                    background: url(../images/weekend.gif);
                }
                .task {
                    color: #fff;
                    cursor: pointer;
                    position: absolute;
                    z-index: 22;
                    overflow: hidden;
                    top: 0px;
                    border-right: 0;
                    white-space: nowrap;
                    height: auto;
                    font-weight: normal;
                    font-size: 11px;
                    // background-color: #068edf;
                }
            }
            .month {
                height: 30px;
                background: #ffffff;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
            }
            .days {
                height: 30px;
            }
            .users-grid {
                height: 80px;
                border-bottom: 1px solid #ccc;
                .day {
                    height: 80px;
                    &.active {
                        background: #ffdddd;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

.card-label-green{background-color:#34b27d}
.card-label-yellow{background-color:#dbdb57}
.card-label-orange{background-color:#e09952}
.card-label-red{background-color:#cb4d4d}
.card-label-purple{background-color:#93c}
.card-label-blue{background-color:#068edf}


.loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    padding: 25px;
    color: #fff;
    background: red;
}

