/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 188, ../../vendor/gridle/sass/gridle/_gridle.scss */
.container:before, .container-12:before, [class*="grid-"][class*="parent"]:before, .container:after, .container-12:after, [class*="grid-"][class*="parent"]:after {
  content: "";
  display: table;
}
/* line 192, ../../vendor/gridle/sass/gridle/_gridle.scss */
.container:after, .container-12:after, [class*="grid-"][class*="parent"]:after {
  clear: both;
}
/* line 196, ../../vendor/gridle/sass/gridle/_gridle.scss */
.container, .container-12, [class*="grid-"][class*="parent"] {
  zoom: 1;
}

/* line 205, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative;
}

/* line 208, ../../vendor/gridle/sass/gridle/_gridle.scss */
.container, .container-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 213, ../../vendor/gridle/sass/gridle/_gridle.scss */
[class*="grid-"][class*="parent"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 250, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, header[role="banner"], section[role="main"] nav, section[role="main"] aside, section[role="main"] .calendar-viewport {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
}
}
/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-0 {
  width: 0%;
  *width: expression((this.parentNode.clientWidth/12*0 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-0 {
  left: 0%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-0 {
  right: 0%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-0 {
  margin-left: 0%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-0 {
  margin-right: 0%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-1 {
  width: 8.33333%;
  *width: expression((this.parentNode.clientWidth/12*1 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-1 {
  left: 8.33333%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-1 {
  right: 8.33333%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-1 {
  margin-left: 8.33333%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-1 {
  margin-right: 8.33333%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-2 {
  width: 16.66667%;
  *width: expression((this.parentNode.clientWidth/12*2 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-2 {
  left: 16.66667%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-2 {
  right: 16.66667%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-2 {
  margin-left: 16.66667%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-2 {
  margin-right: 16.66667%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-3 {
  width: 25%;
  *width: expression((this.parentNode.clientWidth/12*3 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-3 {
  left: 25.0%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-3 {
  right: 25.0%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-3 {
  margin-left: 25.0%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-3 {
  margin-right: 25.0%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-4 {
  width: 33.33333%;
  *width: expression((this.parentNode.clientWidth/12*4 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-4 {
  left: 33.33333%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-4 {
  right: 33.33333%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-4 {
  margin-left: 33.33333%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-4 {
  margin-right: 33.33333%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-5 {
  width: 41.66667%;
  *width: expression((this.parentNode.clientWidth/12*5 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-5 {
  left: 41.66667%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-5 {
  right: 41.66667%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-5 {
  margin-left: 41.66667%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-5 {
  margin-right: 41.66667%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-6 {
  width: 50%;
  *width: expression((this.parentNode.clientWidth/12*6 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-6 {
  left: 50.0%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-6 {
  right: 50.0%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-6 {
  margin-left: 50.0%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-6 {
  margin-right: 50.0%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-7 {
  width: 58.33333%;
  *width: expression((this.parentNode.clientWidth/12*7 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-7 {
  left: 58.33333%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-7 {
  right: 58.33333%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-7 {
  margin-left: 58.33333%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-7 {
  margin-right: 58.33333%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-8 {
  width: 66.66667%;
  *width: expression((this.parentNode.clientWidth/12*8 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-8 {
  left: 66.66667%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-8 {
  right: 66.66667%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-8 {
  margin-left: 66.66667%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-8 {
  margin-right: 66.66667%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-9 {
  width: 75%;
  *width: expression((this.parentNode.clientWidth/12*9 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-9 {
  left: 75.0%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-9 {
  right: 75.0%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-9 {
  margin-left: 75.0%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-9 {
  margin-right: 75.0%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-10 {
  width: 83.33333%;
  *width: expression((this.parentNode.clientWidth/12*10 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-10 {
  left: 83.33333%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-10 {
  right: 83.33333%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-10 {
  margin-left: 83.33333%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-10 {
  margin-right: 83.33333%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-11 {
  width: 91.66667%;
  *width: expression((this.parentNode.clientWidth/12*11 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-11 {
  left: 91.66667%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-11 {
  right: 91.66667%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-11 {
  margin-left: 91.66667%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-11 {
  margin-right: 91.66667%;
}

/* line 1562, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-12 {
  width: 100%;
  *width: expression((this.parentNode.clientWidth/12*12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
}

/* line 1566, ../../vendor/gridle/sass/gridle/_gridle.scss */
.push-12 {
  left: 100.0%;
}

/* line 1571, ../../vendor/gridle/sass/gridle/_gridle.scss */
.pull-12 {
  right: 100.0%;
}

/* line 1576, ../../vendor/gridle/sass/gridle/_gridle.scss */
.prefix-12 {
  margin-left: 100.0%;
}

/* line 1581, ../../vendor/gridle/sass/gridle/_gridle.scss */
.suffix-12 {
  margin-right: 100.0%;
}

/* line 1325, ../../vendor/gridle/sass/gridle/_gridle.scss */
.hide {
  display: none;
}

/* line 1328, ../../vendor/gridle/sass/gridle/_gridle.scss */
.not-visible {
  visibility: hidden;
}

/* line 1331, ../../vendor/gridle/sass/gridle/_gridle.scss */
.show {
  display: block;
}

/* line 1334, ../../vendor/gridle/sass/gridle/_gridle.scss */
.visible {
  visibility: visible;
}

/* line 1337, ../../vendor/gridle/sass/gridle/_gridle.scss */
.float-left {
  float: left;
}

/* line 1340, ../../vendor/gridle/sass/gridle/_gridle.scss */
.float-right {
  float: right;
}

/* line 1343, ../../vendor/gridle/sass/gridle/_gridle.scss */
.clear {
  clear: both;
}

/* line 1346, ../../vendor/gridle/sass/gridle/_gridle.scss */
.clear-left {
  clear: left;
}

/* line 1349, ../../vendor/gridle/sass/gridle/_gridle.scss */
.clear-right {
  clear: right;
}

/* line 1353, ../../vendor/gridle/sass/gridle/_gridle.scss */
.no-gutter,
.no-margin {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 1357, ../../vendor/gridle/sass/gridle/_gridle.scss */
.no-gutter-left,
.no-margin-left {
  padding-left: 0 !important;
}

/* line 1361, ../../vendor/gridle/sass/gridle/_gridle.scss */
.no-gutter-right,
.no-margin-right {
  padding-right: 0 !important;
}

/* line 1365, ../../vendor/gridle/sass/gridle/_gridle.scss */
.no-gutter-top,
.no-margin-top {
  padding-top: 0 !important;
}

/* line 1369, ../../vendor/gridle/sass/gridle/_gridle.scss */
.no-gutter-bottom,
.no-margin-bottom {
  padding-bottom: 0 !important;
}

/* line 1373, ../../vendor/gridle/sass/gridle/_gridle.scss */
.gutter,
.margin {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1377, ../../vendor/gridle/sass/gridle/_gridle.scss */
.gutter-left,
.margin-left {
  padding-left: 10px;
}

/* line 1381, ../../vendor/gridle/sass/gridle/_gridle.scss */
.gutter-right,
.margin-right {
  padding-right: 10px;
}

/* line 1385, ../../vendor/gridle/sass/gridle/_gridle.scss */
.gutter-top,
.margin-top {
  padding-top: 10px;
}

/* line 1389, ../../vendor/gridle/sass/gridle/_gridle.scss */
.gutter-bottom,
.margin-bottom {
  padding-bottom: 10px;
}

/* line 1392, ../../vendor/gridle/sass/gridle/_gridle.scss */
.auto-height {
  height: inherit;
}

/* line 1395, ../../vendor/gridle/sass/gridle/_gridle.scss */
.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

/* line 1398, ../../vendor/gridle/sass/gridle/_gridle.scss */
.parent {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 1652, ../../vendor/gridle/sass/gridle/_gridle.scss */
.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: left;
  direction: ltr;
  padding: 0 10px;
}

/* line 1509, ../../vendor/gridle/sass/gridle/_gridle.scss */
#gridle-settings-default {
  content: '{ "states" : {}, "columnsCount" : 12, "gutterWidth" : "20px", "nameMultiplicator" : 1, "direction" : "ltr", "ie7Support" : true, "debug" : false, "debugShowClassNames" : true, "htmlStatesClasses" : false, "generateHelpersClasses" : true, "generatePushClasses" : true, "generatePullClasses" : true, "generatePrefixClasses" : true, "generateSuffixClasses" : true, "classPrefix" : "", "generateUsefulStatesClasses" : []}';
}

/* line 2, ../sass/_utils.scss */
a, textarea, input {
  outline: none;
}

/* line 5, ../sass/_utils.scss */
.clearfix {
  *zoom: 1;
  clear: both;
}
/* line 7, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 14, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 10, ../sass/_utils.scss */
.btn {
  height: 30px;
  border: 1px solid #717b85;
  border-radius: 0;
  line-height: 28px;
  background: none;
  box-shadow: none;
  padding: 3px 12px;
  text-shadow: none;
  color: #d1d2d3;
  margin: 22px 6px;
  font-size: 13px;
  cursor: pointer;
}
/* line 24, ../sass/_utils.scss */
.btn.active, .btn:hover {
  border-color: #ff0000;
  text-decoration: none;
  background: #222222;
}

/* line 9, ../sass/_typo.scss */
body {
  font-family: Arial, sans-serif;
  color: #666666;
  background: #f2f2f2;
  font-family: "Source Sans Pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

/* line 18, ../sass/_typo.scss */
a {
  text-decoration: none;
  color: red;
}
/* line 21, ../sass/_typo.scss */
a:hover {
  text-decoration: underline;
}

/* line 27, ../sass/_typo.scss */
strong {
  font-weight: bold;
}

/* line 31, ../sass/_typo.scss */
em {
  font-style: italic;
}

/* line 4, ../sass/_layout.scss */
header[role="banner"] {
  background: #222222;
  float: left;
  direction: ltr;
  padding: 0 10px;
  width: 100%;
  *width: expression((this.parentNode.clientWidth/12*12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  color: #999999;
}
/* line 12, ../sass/_layout.scss */
header[role="banner"] h1 {
  float: left;
}
/* line 15, ../sass/_layout.scss */
header[role="banner"] nav {
  margin-left: 200px;
}
/* line 19, ../sass/_layout.scss */
header[role="banner"] nav ul li {
  float: left;
  margin: 0;
  margin-right: -1px;
}
/* line 25, ../sass/_layout.scss */
header[role="banner"] nav ul li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0px 12px;
  color: #d1d2d3;
  font-size: 13px;
}
/* line 33, ../sass/_layout.scss */
header[role="banner"] nav ul li a.active, header[role="banner"] nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  background: #2b2b2b;
}

/* line 49, ../sass/_layout.scss */
section[role="main"] nav {
  float: left;
  direction: ltr;
  padding: 0 10px;
  width: 100%;
  *width: expression((this.parentNode.clientWidth/12*12 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  background: #2b2b2b;
  color: #cccccc;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 56, ../sass/_layout.scss */
section[role="main"] aside {
  float: left;
  direction: ltr;
  padding: 0 10px;
  width: 16.66667%;
  *width: expression((this.parentNode.clientWidth/12*2 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: #2b2b2b;
  padding-top: 60px;
  height: 100%;
  color: #d1d2d3;
}
/* line 64, ../sass/_layout.scss */
section[role="main"] aside .users .user {
  height: 80px;
  border-bottom: 1px solid #717b85;
}
/* line 68, ../sass/_layout.scss */
section[role="main"] aside .users .user:nth-child(2n+1) {
  background: #222222;
}
/* line 71, ../sass/_layout.scss */
section[role="main"] aside .users .user .user-data {
  padding: 0 25px;
  line-height: 80px;
  font-size: 13px;
}
/* line 75, ../sass/_layout.scss */
section[role="main"] aside .users .user .user-data img {
  vertical-align: middle;
  margin-right: 10px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
}
/* line 85, ../sass/_layout.scss */
section[role="main"] .calendar-viewport {
  overflow: auto;
  float: left;
  direction: ltr;
  padding: 0 10px;
  width: 83.33333%;
  *width: expression((this.parentNode.clientWidth/12*10 - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 89, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid {
  height: 708px;
}
/* line 91, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .months {
  float: left;
}
/* line 94, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .day {
  cursor: pointer;
  position: relative;
  float: left;
  width: 30px;
  height: 29px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  border-right: 1px solid #ccc;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}
/* line 109, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .day:hover {
  background: #f7f7f7;
}
/* line 112, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .day.active {
  height: 27px;
  border-bottom: solid 3px #ff0000;
}
/* line 116, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .day.weekend {
  background: url(../images/weekend.gif);
}
/* line 119, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .day .task {
  color: #fff;
  cursor: pointer;
  position: absolute;
  z-index: 22;
  overflow: hidden;
  top: 0px;
  border-right: 0;
  white-space: nowrap;
  height: auto;
  font-weight: normal;
  font-size: 11px;
}
/* line 134, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .month {
  height: 30px;
  background: #ffffff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
}
/* line 143, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .days {
  height: 30px;
}
/* line 146, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .users-grid {
  height: 80px;
  border-bottom: 1px solid #ccc;
}
/* line 149, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .users-grid .day {
  height: 80px;
}
/* line 151, ../sass/_layout.scss */
section[role="main"] .calendar-viewport .calendar-grid .users-grid .day.active {
  background: #ffdddd;
  border-bottom: 1px solid #ccc;
}

/* line 161, ../sass/_layout.scss */
.card-label-green {
  background-color: #34b27d;
}

/* line 162, ../sass/_layout.scss */
.card-label-yellow {
  background-color: #dbdb57;
}

/* line 163, ../sass/_layout.scss */
.card-label-orange {
  background-color: #e09952;
}

/* line 164, ../sass/_layout.scss */
.card-label-red {
  background-color: #cb4d4d;
}

/* line 165, ../sass/_layout.scss */
.card-label-purple {
  background-color: #93c;
}

/* line 166, ../sass/_layout.scss */
.card-label-blue {
  background-color: #068edf;
}

/* line 169, ../sass/_layout.scss */
.loading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  padding: 25px;
  color: #fff;
  background: red;
}
